<h2>RSVP for <%= @event.event_name %></h2>

<%= form_tag event_guests_path(@event), :method => 'get' do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
  </div>
<% end %>