@import "bootstrap-sprockets";
@import "bootstrap";

/* ----------------- UNIVERSAL ----------------- */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #13a8bb;
  border-color: #13a8bb;
}

.btn-primary:hover {
  background-color: #5cc3d0;
  border-color: #5cc3d0;
}




/* ----------------- TYPOGRAPHY ----------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.2em;
  letter-spacing: .03em;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #7599A4;
  text-decoration: none;
}

a:hover {
  color: #8EBAC8;
  text-decoration: none;
}



/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


/* ----------------- HEADER ----------------- */
#logo {
  float: left;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: #f9f9f9;
  font-size: 30px;
  line-height: 30px;
}

#logo:hover {
  color: #777;
  text-decoration: none;
}

.float-right {
  position: absolute;
  top: 10px;
  right: 10px;
}


/* ----------------- TOGGLE SWITCH ----------------- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #13a8bb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #13a8bb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ----------------- NAVS ----------------- */
.event-nav {
  margin-top: 20px;
}

.event-nav .active {
    color: #ffffff;
    background-color: #816C61;
    border-color: #816C61;
    font-weight: bold;
}

.event-nav .active:hover {
  background-color: #816C61;
    border-color: #816C61;
}

.left-navbar {
  height: 100vh;
  background-color: #E9ECF5;
  padding-top: 50px;
  padding-bottom: 15px;
  margin-top: -50px;
}

.navbar-default {
  background-color: #75ABBC;
}

.navbar-default .nav > li > a {
  color: #f9f9f9;
}

.navbar-default .nav > li > a:hover {
  color: #f9f9f9;
}

#logo  {
}


.event-guest-hdr {
  text-align: center;
  margin-bottom: 40px;
}

.event-guest-hdr .btn {
  display: block;
}