<div class="col-sm-3 left-navbar">
  <div class="left-navbar">
    <div class="list-group event-nav">
      <%= link_to "Manage Event", "#", class: "list-group-item active" %>
      <%= link_to "Manage Events", root_path, class: "list-group-item" %>
      <%= link_to "Manage Account", edit_user_registration_path, class: "list-group-item" %>
    </div>
  </div>
</div>